* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

#div h1 {
  color: #502357;
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
}

#div label {
  font-weight: bold;
  font-size: 25px;
}

#div .field {
  border: 2px solid #ddd;
  border-radius: 10px;
  color: #3b3b3b;
  font-size: 20px;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 10px;
  transition: 0.3s;
  width: 500px;
}

#div .field:focus,
#div .field:active {
  border: 2px solid #502357;
  outline: none;
  transition: 0.3s;
}

#div button {
  background-color: #502357;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  height: 50px;
  margin: 10px 0;
  transition: 0.3s;
  width: 500px;
}

#div button:hover {
  filter: drop-shadow(0 5px 20px #502357);
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}
