
*::selection {
    background: rgb(0, 76, 29);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-track {
    background: rgb(0 76 29);
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(4, 185, 73);
    border-radius: 20px;
    border: 1px solid white;;
  }

  main {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 142, 55, 0.9) 0,
        rgba(0, 142, 55, 0.9) 100%
      ),
      url(https://picsum.photos/1200/500);
    background-size: cover;
    flex: 1;
  }

  .title-div {
    min-height: 450px;
  }

  .title-div.title-blur {
    filter: blur(1px);
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .title-div h1 {
    align-items: flex-end;
    color: white;
    display: flex;
    font-size: 4rem;
    height: 100%;
    justify-content: center;
  }

  @media (max-width: 576px) {
    .title-div .col-sm-12 h1 {
      font-size: 2.5rem;
    }

    .title-div .col-sm-12 h2 {
      font-size: 2rem;
    }
  }

  .title-div h2 {
    color: rgb(0, 142, 55);
    font-size: 3rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .card {
    background-color: rgba(4, 185, 73, 0.5);
    color: white;
    text-align: center;
  }

  a {
    border-radius: 6px !important;
    color: white;
    transition: ease 0.3s all !important;
    width: 100%;
  }

  a.btn.btn-outline-light:hover {
    background-color: rgb(0, 142, 55);
    border-color: rgb(0, 142, 55);
    box-shadow: 0px 7px 20px 5px rgb(0 76 29);
    color: white;
    font-size: 21px;
  }

  footer {
    background-color: rgb(0, 76, 29);
    color: white;
    margin-top: auto;
  }