*{
  overflow: hidden;
}

body{
  background-color: #252121;

  .backdropado{
    filter: blur(10px);
  }

  #alert{
    box-shadow: 0px 0px 0px 100vh rgba(0,0,0, 0.5);
    left: 35vw;
    top: 45vh;
    position: absolute;
    width: 30vw;
    z-index: 20;
  }

  #calculadora{
    border: 12px solid gray ;
    border-radius: 10px;
    margin: 25vh auto 0;
    padding: 15px 0;
    width: 350px;

    #output {
      font-size: 20px;
      height: 100px;
    }

    .display{
      background-color: #262222;
      border: 1px solid red;
      border-radius: 2px;
      color: white;
      margin-bottom: 11px;
      padding: 20px;
      text-align: end;
      width: 100%; 
    }

    #outputPreview{
      font-size: 10px;
      height: 30px;
    }
    
    button{
      margin: 2px 0 ;
      height: 50px;
      width: 100%;
    }
  }
}